@import url("https://fonts.googleapis.com/css2?family=Trirong:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-855 {
    height: 855px;
  }
  .h-768 {
    height: 768px;
  }
  .rounded-b-4xl {
    border-bottom-right-radius: 90% 10%;
    border-bottom-left-radius: 90% 10%;
  }
  .text-10xl {
    font-size: 9.38rem;
    line-height: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(58, 71, 80) rgb(48, 56, 65);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(48, 56, 65);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgb(255, 254, 254);
  color: rgb(58, 71, 80);
}

a {
  color: inherit;
  text-decoration: none;
}
